html {
  max-width: 400px;
}

#display {
  border: 1px solid black;
  max-height: 20px;
  max-width: 400px;
  text-align: center;
  margin:auto;
  margin-bottom: 2px;
  padding: 4px;
}

#mainContainer {
 display: block;
 margin: auto;
 max-width: 200px;
 max-height: 100%;
}

#operations {
  display: flex;
  justify-content: center;
}

#numPad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

#clearButton {
  padding: 2px;
  margin: 5px;
}

.numbers #delButton #decimalButton {
  display: grid;
}

.cleared {
  color: gray;
  background-color: lightgray;
}

.operators {
  padding: auto;
  margin: 5px;
  width: : 25px;
  height: 20px;
}
