html {
  max-width: 400px;
  margin: auto;
}

button {
  width: 50px;
  height: 25px;
  margin: 2px;
  border-radius: 8px;
}

#operations button {
  height: 40px;
  font-size: 20px;
  font-weight: bold;
}

#display {
  border: 2px solid black;
  height: 50px;
  max-width: 290px;
  text-align: center;
  margin:auto;
  padding: 4px;
  font-size: 25px;
  background-color: #EEE;
}

#mainContainer {
 display: block;
 margin: auto;
 max-width: 300px;
 max-height: 100%;
 border: 1px solid black;
 border-top: none;
}

#operations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  max-width: 300px;
  margin: auto;
}

#numPad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  max-width: 200px;
  margin: auto;
  padding-top: 25px;
}

#equalsButtonWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  max-width: 200px;
  margin: auto;
  padding-top: 10px;
}

#equalsButton {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
}

#clearButton {
  margin: 5px;
}

.numbers #delButton #decimalButton {
  display: grid;
}

.operators {
  padding: auto;
  margin: 5px;
  width: : 25px;
  height: 20px;
}
